<ngx-spinner bdColor="rgba(142,197,252,0.7)" size="large" color="#fff" type="ball-fussion" [fullScreen]="true">
  <p style="color: white"> Periksa User... </p>
  </ngx-spinner>

<div class="login-background">
  <div class="login-title">
    <i class="fas fa-crown logo"></i>
    <h1>Queen</h1>
  </div>
  <div class="login-card">
    <h2>Login ke Akun Anda</h2>
    <div id="alert" class="error">
      <span id="alert-message"></span>
    </div>
    <form class="login-form" [formGroup]="loginForm">
      <input type="text" formControlName="userId" placeholder="Masukkan user ID atau email anda">
      <p class="validate" *ngIf="loginForm.controls.userId.invalid && loginForm.controls.userId.touched ">User ID wajib diisi
      </p>
      <input type="password" formControlName="password" placeholder="Masukkan password anda">
      <p class="validate" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">Password wajib diisi
      </p>
      <a href="#">Lupa password?</a>
      <button class="btn" (click)=login()>Log in</button>
    </form>
  </div>
</div>