<div id="navtop">
  <button class="btn right btn-outline btn-auto" (click)="logoutDialog()">Log out</button>
  <button class="btn right btn-outline btn-auto" routerLink='/questionmanagement'>Question management</button>
  <button class="btn right btn-outline btn-auto" routerLink='/home'>Dashboard</button>
</div>

<div id="confirm">
  <div class="confirm-box info">
    <i class="far fa-question-circle"></i>
    <p class="confirm-dialog">Lanjutkan log out?</p>
    <div class="confirm-button">
      <button class="btn" (click)="close()">Tidak</button>
      <button class="btn" (click)="logout()">Ya</button>
    </div>
  </div>
</div>