  <div *ngIf="router.url === '/';else other_content">
    <router-outlet name="login"></router-outlet>
  </div>

  <ng-template #other_content>
    <router-outlet name="navtop"></router-outlet>
    <router-outlet></router-outlet>
  </ng-template>


