<div class="hero">
  <div class="content">
    <h1 class="title">Question Management</h1>
    <p class="subtitle">Permudah experience user dalam memilih service</p>
  </div>
</div>


<div class="row">
  <button (click)="openModalCreate()" class="btn-blue" style="width: 25%; margin-top: 50px;">
    CREATE QUESTION HELP
  </button>
</div>


<div class="row">
<table id="table-basic">
  <tr *ngIf="questionListInquiry.length>0">
    <th>Question ID</th>
    <th>Question</th>
    <th>Queueing Destination</th>
    <th>Action</th>
  </tr>
  <tr style="text-align: center;" *ngFor="let questionList of questionListInquiry; let i = index">
    <td>
      {{questionList.questionId}}
    </td>
    <td>
      {{questionList.question}}
    </td>
    <td>
      {{questionList.queueingDestination}}
    </td>
    <td>
    <button class="btn-blue" (click)="openModalEdit(questionList.questionId)">
      EDIT
    </button>
    <button class="btn-red" (click)="openModalDelete(questionList.questionId)">
      DELETE
    </button>
  </td>

  <div id="popup-modal-edit">
    <div class="popup-modal-edit-box info">
  
      <h1>Edit Question Help</h1>
          
      <form [formGroup]="editQuestionFG" id="editQuestionFG">
        <div class="row-modals">
          <div class="col-5">
            <div class="form-group" style="width:100%;">
              <label>Question</label>
              <input type="text" formControlName="editQuestion" placeholder="Question">
              <p class="validate" *ngIf="editQuestionFG.controls.editQuestion.invalid && editQuestionFG.controls.editQuestion.touched ">Question wajib diisi
              </p>
            </div>
          </div>
        </div>
        <div class="row-modals">
          <div class="col-5">
            <div class="form-group">
              <label>Question Destination</label>
              <select class="form-control" style="font-size: 16px" formControlName="editQuestionDestination">
      
              <option value="null">Question Destination</option>
              <option value="Teller">Teller</option>
              <option value="CS">Customer Service</option>
              <p class="validate" *ngIf="editQuestionFG.controls.editQuestionDestination.null && editQuestionFG.controls.editQuestionDestination.touched ">Question wajib diisi
              </p>
            </select>
            </div>
          </div>
        </div>
      </form>
        
      <div class="popup-modal-edit-button">
        <button class="btn" (click)="closeModalEdit()">Cancel</button>
        <button class="btn" (click)="editQuestion()">Change</button>
      </div>
    </div>
  </div>

  <div id="popup-modal-del">
    <div class="popup-modal-del-box info">
  
      <h1>Delete Question Help</h1>
      <p style="text-align: center;">Apakah anda yakin untuk menghapus?</p>
        
      <div class="popup-modal-del-button">
        <button class="btn" (click)="closeModalDelete()">Tidak</button>
        <button class="btn" (click)="deleteQuestion()">Ya</button>
      </div>
    </div>
  </div>

</tr>
</table>
</div>


<!-- MODAL CREATE  -->

<div id="popup-modal">
  <div class="popup-modal-box info">

    <h1>Create Question Help</h1>
        
    <form [formGroup]="createQuestionFG" id="createQuestionFG">
      <div class="row-modals">
        <div class="col-5">
          <div class="form-group" style="width:100%;">
            <label>Question</label>
            <input type="text" formControlName="inputQuestion" placeholder="Question">
            <p class="validate" *ngIf="createQuestionFG.controls.inputQuestion.invalid && createQuestionFG.controls.inputQuestion.touched ">Question wajib diisi
            </p>
          </div>
        </div>
      </div>
      <div class="row-modals">
        <div class="col-5">
          <div class="form-group">
            <label>Question Destination</label>
            <select class="form-control" style="font-size: 16px" formControlName="inputQuestionDestination">
              <p class="validate" *ngIf="createQuestionFG.controls.inputQuestionDestination.null && createQuestionFG.controls.inputQuestionDestination.touched ">Question wajib diisi
              </p>
            <option value="null">Question Destination</option>
            <option value="Teller">Teller</option>
            <option value="CS">Customer Service</option>
          </select>
          </div>
        </div>
      </div>
    </form>
      
    <div class="popup-modal-button">
      <button class="btn" (click)="closeModalCreate()">Cancel</button>
      <button class="btn" (click)="createQuestion()">Create</button>
    </div>
  </div>
</div>


