@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --primary-gradient: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    --dark-purple: #8877fc;
    --light-purple:#e0c3fc;
    --light-blue: #8ec5fc;
    --red: #ed4a4a;
    --dark-red: #a31515;
    --light-red:#ffb3b3;
    --yellow:#ffea4f;
    --dark-grey: #333;
    --light-grey: #ddd;
    --overlay:  rgba(142,197,252,0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    font-size: 13px;
    font-family: 'Quicksand', sans-serif;
    color: grey;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration:none;
    transition: .25s;
}

a:hover {
    color: var(--dark-purple);
}

.btn {
    background-color: var(--dark-purple);
    color:white;
    border-style:solid;
    border-width: 0px;
    border-radius: 8px;
    height:30px;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    font-size: 14px;
    font-family:'Quicksand', sans-serif;
    font-weight: 600;
    transition: .25s;
}

.btn-red{
    background-color: rgb(211, 96, 96);
    color:white;
    border-style:solid;
    border-width: 0px;
    border-radius: 8px;
    height:30px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    /* width: 25%; */
    width: fit-content;
    font-size: 14px;
    font-family:'Quicksand', sans-serif;
    font-weight: 600;
    transition: .25s;
    cursor: pointer;
}

.btn-blue{
    background-color: rgb(122, 198, 231);
    color:white;
    border-style:solid;
    border-width: 0px;
    border-radius: 8px;
    height:30px;
    margin: 10px 10px 10px 10px;
    padding: 5px;
    /* width: 25%; */
    width: fit-content;
    font-size: 14px;
    font-family:'Quicksand', sans-serif;
    font-weight: 600;
    transition: .25s;
    cursor: pointer;
}

.btn-red:hover{
    opacity: 70%;
}

.btn-blue:hover{
    opacity: 70%;
}

.btn-circle {
    border-radius: 50%;
}

.btn-outline {
    background-color: rgba(0,0,0,0);
    border-width:2px;
    border-color: white;
}

.btn-auto {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.right {
    float:right;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--light-blue);
}

.btn-outline:hover {
    background-color: rgba(0,0,0,0);
    border-color: var(--dark-purple);
}

.button-row{
    display: flex;
    margin: 20px 20px 10px 20px;
    justify-content: center;
}

.button-container {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 0 2rem;
    padding: 0 1rem;
}

.button-group {
    display:flex;
}

.button-group .btn {
    margin: 0 5px;
    color: var(--dark-purple);
    background-color: white;
    border-width: 2px;
    border-color: var(--dark-purple);
}

.button-group .btn:hover {
    color: white;
    background-color: var(--dark-purple);
    border-width: 2px;
}

.btn:focus {
    outline: none;
}

.login-background {
    background: var(--primary-gradient);
    width: 100vw;
    height:100vh;
}

.login-title {
    position: relative;
    top: 50px;
    margin:auto;
    width: 40%;
    text-align:center;
}

.login-title i {
    color: var(--yellow);
    font-size: 30px;
}

.login-title h1 {
    font-size: 40px;
}

.login-card {
    margin: auto;
    margin-top: 70px;
    width: 40%;
    height: auto;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 1rem 2rem;
    text-align: center;
}

.login-card h2 {
    color: var(--dark-grey);
    margin: 20px 0;
}

form input{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px;
    border-color: var(--light-grey);
    height: 35px;
    border-width: 1.5px;
    border-style: solid;
    transition: .25s;
    font-family: inherit;
}

form input:hover {
    border-color: var(--dark-purple);
    cursor: pointer;
}

form input:focus {
    outline: none;
    border-color: var(--dark-purple);
}

form .validate {
    color: var(--red);
    font-size:12px;
    font-weight: 500;
    text-align: left;
}

.login-form a {
    display: block;
    text-align: right;
    font-size:12px;
}

.login-form .btn{
    margin-top: 30px;
}

#alert {
    display:none;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    transition: 0.25s;
}

#alert strong{
    margin: 0 10px;
}

#confirm {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:var(--overlay);
    z-index:11;
    transition: .25s;
}

#confirm .confirm-box {
    position: absolute;
    top:30px;
    left:35%;
    width: 30%;
    height:auto;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
    z-index: 12;
}

#confirm .confirm-box i {
    font-size: 50px;
    color: var(--light-purple);
    margin-bottom: 10px;
}

#confirm .confirm-button {
    display:flex;
}

#confirm .confirm-button .btn {
    margin: 20px 10px;
}

.info {
    background-color:white;
}

.error {
    background-color:var(--light-red);
    color: var(--dark-red);
}

#navtop {
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0);
    padding: 0 40px;
    z-index:1;
}

#navtop .btn {
    margin:10px;
    font-weight: bold;
}

.hero {
    background: url('./assets/img/hero.jpg') no-repeat center center/cover;
    height: 40vh;
    position: relative;
    color: white;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    text-align:center;
    height: 100%;
    padding: 0 20px;
}

.hero .content .title {
    margin-top: 40px;
    font-size: 55px;
}

.hero .content .subtitle {
    font-size: 23px;
    font-weight: 500;
    max-width: 600px;
    margin: 20px 0 30px;
    color:white;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(224,195,252,1) 0%, rgba(142,197,252,0.7) 100%);
}

.hero * {
    z-index: 10;
}

.row {
    display: flex;
    margin: 0 20px;
    justify-content: center;
}

.row-modals{
    display: flex;
    margin: 0 20px;
    justify-content: left;
}

.col {
    width: 30%;
    height: auto;
    text-align: center;
    margin: 0 2rem;
    border-radius: 10px;
    padding: 1rem;
}

.queue-card{
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px  8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.queue-card .btn {
    position: absolute;
    margin-top:-30px;
    margin-left: 120px;
    width:40px;
    height:40px;
    font-size: 22px;
}

.queue-card h3 {
    color: var(--dark-grey);
}

.queue-card h1 {
    color: var(--dark-purple);
    font-size: 100px;
}


/* TABLE */

#table-basic {
    border-collapse: collapse;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  #table-basic td, #tablebasic th {
    border: 1px solid rgb(198, 180, 206);
    padding: 8px;
  }
  
  #table-basic tr:nth-child(odd){background-color: #f4eefb;}
  
  #table-basic tr:hover {background-color: rgb(243, 228, 255);}
  
  #table-basic th {
    /* border: 2px solid #ddd; */
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(162, 129, 177);
    color: white;
  }


  /* MODALS */
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }


  select {
    appearance: none;
    background-color: transparent;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 13px;
    cursor: pointer;
    line-height: inherit;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 8px;
    border-color: var(--light-grey);
    height: 35px;
    border-width: 1.5px;
    border-style: solid;
    transition: .25s;
  }

  select input:hover {
    border-color: var(--dark-purple);
    cursor: pointer;
  }

  select input:focus {
    outline: none;
    border-color: var(--dark-purple);
  }

  select input:active {
    outline: none;
    border-color: var(--dark-purple);
  }
 

/* CREATE MODAL */

#popup-modal {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    height:150vh;
    width:100vw;
    background-color:var(--overlay);
    z-index:11;
    transition: .25s;
}

#popup-modal .popup-modal-box {
    position: absolute;
    top:30%;
    left:35%;
    width: 30%;
    height:auto;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
    z-index: 12;
}

#popup-modal .popup-modal-box i {
    font-size: 50px;
    color: var(--light-purple);
    margin-bottom: 10px;
}

#popup-modal .popup-modal-box h1 {
    font-size: 28px;
    color: rgb(162, 129, 177);;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

#popup-modal .popup-modal-button {
    display:flex;
}

#popup-modal .popup-modal-button .btn {
    margin: 20px 10px;
}

/* EDIT MODAL */


#popup-modal-edit {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    height:150vw;
    width:100vw;
    background-color:var(--overlay);
    z-index:11;
    transition: .25s;
}

#popup-modal-edit .popup-modal-edit-box {
    position: absolute;
    top:30%;
    left:35%;
    width: 30%;
    height:auto;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
    z-index: 12;
}

#popup-modal-edit .popup-modal-edit-box i {
    font-size: 50px;
    color: var(--light-purple);
    margin-bottom: 10px;
}

#popup-modal-edit .popup-modal-edit-box h1 {
    font-size: 28px;
    color: rgb(162, 129, 177);;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

#popup-modal-edit .popup-modal-edit-button {
    display:flex;
}

#popup-modal-edit .popup-modal-edit-button .btn {
    margin: 20px 10px;
}



/* DELETE MODAL */


#popup-modal-del {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    height:150vh;
    width:100vw;
    background-color:var(--overlay);
    z-index:11;
    transition: .25s;
}

#popup-modal-del .popup-modal-del-box {
    position: absolute;
    top:30%;
    left:35%;
    width: 30%;
    height:auto;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
    z-index: 12;
}

#popup-modal-del .popup-modal-del-box i {
    font-size: 50px;
    color: var(--light-purple);
    margin-bottom: 10px;
}

#popup-modal-del .popup-modal-del-box h1 {
    font-size: 28px;
    color: rgb(162, 129, 177);;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

#popup-modal-del .popup-modal-del-button {
    display:flex;
}

#popup-modal-del .popup-modal-del-button .btn {
    margin: 20px 10px;
}
 



/* COUNTER MODAL */


#popup-modal-counter {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    height:150vh;
    width:100vw;
    background-color:var(--overlay);
    z-index:11;
    transition: .25s;
}

#popup-modal-counter .popup-modal-counter-box {
    position: absolute;
    top:30%;
    left:35%;
    width: 30%;
    height:auto;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s;
    z-index: 12;
}

#popup-modal-counter .popup-modal-counter-box i {
    font-size: 50px;
    color: var(--light-purple);
    margin-bottom: 10px;
}

#popup-modal-counter .popup-modal-counter-box h1 {
    font-size: 28px;
    color: rgb(162, 129, 177);;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

#popup-modal-counter .popup-modal-counter-button {
    display:flex;
}

#popup-modal-counter .popup-modal-counter-button .btn {
    margin: 20px 10px;
}
 
  
  

