<ngx-spinner bdColor="rgba(142,197,252,0.7)" size="large" color="#fff" type="ball-fussion" [fullScreen]="true">
  <p style="color: white"> Memuat antrian... </p>
  </ngx-spinner>

  <div class="hero">
    <div class="content">
      <h1 class="title">Selamat datang, Admin Teller</h1>
      <p class="subtitle">Hari yang baik untuk sapa customer dengan senyuman</p>
    </div>
  </div>

  <div class="button-row">
    <div class="button-container">
      <div class="button-group">
        <button class="btn" id="cs" (click)="buttonChange('cs')">CS</button>
        <button class="btn" id="teller" (click)="buttonChange('teller')">Teller</button>
      </div>
    </div>
    <div class="button-container"></div>
  </div>

  <div class="row">
    <div class="col">
      <div class="queue-card">
        <h3 id="type">Antrian saat ini</h3>
        <button class="btn btn-circle right" (click)="openModalCounter()"><i class="fas fa-plus"></i></button>
        <h1 id="currentQueue">{{currentQueue}}</h1>
      
      </div>
    </div>
    <div class="col">
      <div class="queue-card">
        <h3>Total antrian</h3>
        <button class="btn btn-circle right" (click)="openModalCounter()"><i class="fas fa-redo-alt"></i></button>
        <h1 id="totalQueue">{{totalQueue}}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="subtitle" style="color: black; margin-top: 50px; font-weight: 600; font-size: x-large;">Laporan total antrian 1 minggu terakhir</p>
  </div>

  
  <div class="row" style="margin-top: 50px;" *ngIf="showGraph=='true'">
    <ngx-charts-bar-vertical
      [view]="[900,400]"
      [results]="dataQueue"
      [xAxisLabel]="'Tanggal'"
      [yAxisLabel]="'Total Antrian'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true">
    </ngx-charts-bar-vertical>
  </div>

  <div id="popup-modal-counter">
    <div class="popup-modal-counter-box info">
  
      <h1>Masukan Nomor Counter</h1>
          
      <form [formGroup]="inputLoketForm" id="inputLoketForm">
        <!-- <label>Masukkan Nomor Counter</label> -->
         
        <select class="form-control" style="font-size: 16px" formControlName="inputNomorLoket">
          <option value="null">Nomor Counter</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>       
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>       
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <!-- <option *ngFor="let counterList of counterQueue" [value]="counterList">{{counterList}}</option> -->
        </select>

        </form>
      <div class="popup-modal-counter-button">
        <button class="btn" (click)="closeModalCounter()">Cancel</button>
        <button class="btn" (click)="consumeQueue()">OK</button>
      </div>
    </div>
  </div>
    